
<footer class="wrapper clearfix">

	{% if myucl %}
		<article class="block-myucl">
      <h2>Also in UCL</h2>
			<ul>
			{% for item in myucl %}
			<li><a href="{{item[1]}}">{{item[0]}}</a></li>
			{% endfor %}
			</ul>
		</article>
	{% endif %}

	{% if findfast %}
	<article class="block-finditfast1">
		<h2>Quick Links</h2>
		<ul>
			{% for fast in findfast %}
			<li><a href="{{fast[1]}}">{{fast[0]}}</a></li>
			{% endfor %}
		</ul>
	</article>
	{% endif %}

	{% if page_findfast %}
	<article class="block-finditfast2">
		<h2>Page Quick Links</h2>
		<ul>
			{% for fast in page_findfast %}
			<li><a href="{{fast[1]}}">{{fast[0]}}</a></li>
			{% endfor %}
		</ul>

	</article>
	{% endif %}

	<hr>

	<p>University College London,&nbsp;Gower Street,&nbsp;London,&nbsp;WC1E 6BT&nbsp;Tel:&nbsp;+44&nbsp;(0)&nbsp;20 7679 2000</p>

	<p id="footer-links">Copyright © 2013 UCL <a href="http://www.ucl.ac.uk/disclaimer/">Disclaimer</a> | <a href="#">Freedom of Information</a> | <a href="http://www.ucl.ac.uk/accessibility/">Accessibility</a> | <a href="http://www.ucl.ac.uk/privacy">Privacy</a> | <a href="http://www.ucl.ac.uk/cookies">Cookies</a> | <a href="{{contact}}">Contact Us</a></p>

</footer>

